{% extends 'admin/base.html' %}
{% load static %}

{% block extrastyle %}{{ block.super }}
<link href="{% static 'css/rtl-font.css' %}" rel="stylesheet" type="text/css" />
<style>
    :root {
        --primary: #9774d5;
        --secondary: #785cab;
        --link-fg: #7c449b;
        --link-selected-fg: #8f5bb2;
    }
    *[class^="tox"] {
        font-family: var(--font-family-primary) !important;
    }
</style>
{% if LANGUAGE_CODE == 'fa-ir' %}
<style>
    :root {
        --font-family-primary: IranSans;
    }
</style>
{% endif %}
{% endblock %}